/* Common Css add by Orange===================*/
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}

.padding-15{
    padding: 15px!important;
}
.padding-top-0{
    padding-top:0!important;
}
.padding-top-5{
    padding-top:5px!important;
}
.padding-top-10{
    padding-top:10px!important;
}
.padding-top-15{
    padding-top:15px!important;
}
.padding-top-20{
    padding-top:20px!important;
}
.padding-top-25{
    padding-top:25px!important;
}
.padding-top-30{
    padding-top:30px!important;
}
.padding-top-35{
    padding-top:35px!important;
}
.padding-top-40{
    padding-top:40px!important;
}
.padding-top-50{
    padding-top:50px!important;
}
.padding-left-5{
    padding-left:5px!important;
}
.padding-left-10{
    padding-left:10px!important;
}
.padding-left-15{
    padding-left:15px!important;
}
.padding-left-20{
    padding-left:20px!important;
}
.padding-left-25{
    padding-left:25px!important;
}
.padding-left-30{
    padding-left:30px!important;
}
.padding-right-5{
    padding-right:5px!important;
}
.padding-right-10{
    padding-right:10px!important;
}
.padding-right-15{
    padding-right:15px!important;
}
.padding-right-20{
    padding-right:20px!important;
}
.padding-right-25{
    padding-right:25px!important;
}
.padding-right-30{
    padding-right:30px!important;
}
.padding-bottom-5{
    padding-bottom:5px!important;
}
.padding-bottom-10{
    padding-bottom:10px!important;
}
.padding-bottom-15{
    padding-bottom:15px!important;
}
.padding-bottom-20{
    padding-bottom:20px!important;
}
.padding-bottom-25{
    padding-bottom:25px!important;
}
.padding-bottom-30{
    padding-bottom:30px!important;
}
.margin-top-5{
    margin-top:5px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-15{
    margin-top:15px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-25{
    margin-top:25px!important;
}
.margin-top-30{
    margin-top:30px!important;
}
.margin-top-50{
    margin-top:50px!important;
}
.margin-left-35{
    margin-left:35px!important;
}
.margin-left-5{
    margin-left:5px!important;
}
.margin-left-10{
    margin-left:10px!important;
}
.margin-left-15{
    margin-left:15px!important;
}
.margin-left-20{
    margin-left:20px!important;
}
.margin-left-25{
    margin-left:25px!important;
}
.margin-left-30{
    margin-left:30px!important;
}
.margin-left-35{
    margin-left:35px!important;
}
.margin-right-5{
    margin-right:5px!important;
}
.margin-right-10{
    margin-right:10px!important;
}
.margin-right-15{
    margin-right:15px!important;
}
.margin-right-20{
    margin-right:20px!important;
}
.margin-right-25{
    margin-right:25px!important;
}
.margin-right-30{
    margin-right:30px!important;
}
.margin-right-35{
    margin-right:35px!important;
}
.margin-bottom-0{
    margin-bottom:0 !important;
}
.margin-bottom-5{
    margin-bottom:5px!important;
}
.margin-bottom-10{
    margin-bottom:10px!important;
}
.margin-bottom-15{
    margin-bottom:15px!important;
}
.margin-bottom-18{
    margin-bottom:18px!important;
}
.margin-bottom-20{
    margin-bottom:20px!important;
}
.margin-bottom-25{
    margin-bottom:25px!important;
}
.margin-bottom-30{
    margin-bottom:30px!important;
}
.margin-bottom-35{
    margin-bottom:35px!important;
}

#sidebar{
    border-right: 1px solid #ececec;
}